__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.git
.gitignore
.dockerignore
README.md
LICENSE
Dockerfile
*.md
*.yml
*.yaml
__pycache__
*.log
.vscode
.idea
*.sqlite3

rclone/
symlink/
Makefile
docker-compose*